@charset "utf-8";
/* CSS Document */

	.nameBT {position: fixed; z-index: 10; height:15px; left: 50%; top: 10px; left: 2vw; opacity:1;filter: invert(100%);padding:7px;}
	.homeBT {position: fixed; z-index: 10; height:15px;  padding: 7px; top: 10px; right: 6vw;transform: translateX(-190%);opacity: 1;filter: invert(100%)}
	.workBT {position: fixed; z-index: 10; height:15px;  padding: 7px; top: 10px; right: 4vw; transform: translateX(-105%);opacity: 1;filter: invert(100%)}
	.cvBT {position: fixed; z-index: 10; height:15px;  padding: 7px; top: 10px; right: 2vw; transform: translateX(0);opacity: 1;filter: invert(100%)}
	p.bignumF{font-family: 'Cinzel', serif;}

.nameBT:hover{
	filter: invert(00%);
}
.homeBT:hover{
	filter: invert(00%);
}

.workBT:hover{
	filter: invert(00%);
}

.cvBT:hover{
	filter: invert(00%);
}

.Green:hover{
	display:block;
	background-color:  #6DB4FF; transition: none;
	cursor:pointer;
}



.jb-a{
	
}
.jb-c{
	position: absolute;
	top: 0; left: 0;
	display: none;
}
.jb-a:hover .jb-c{
	display: block;
}

.work01H:hover{
	background: url("/img/work01BG6.png") no-repeat;
	
}


	